/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media(min-width: 768px){
    .inter_head .container{
        max-width: 720px;
        padding: 5rem .75rem 0 .75rem;
    }
}
@media(min-width: 992px){
    .inter_head .container{
        max-width: 800px;
        padding: 5rem .75rem 0 .75rem;
    }
    .my-video {
        width: 1280px;
        height: 648px;
        /*height: 484px;*/
    }
    footer section{
        margin-top: 12rem;
    }
}
@media(min-width: 1200px){
    .inter_head .container{
        max-width: 1020px;
        padding: 5rem .75rem 0 .75rem;
    }
}
@media(min-width: 1400px){
    .inter_head .container{
        max-width: 1020px;
        padding: 5rem .75rem 0 .75rem;
    }
}
@media(max-width: 767px){
    .container-improper .row{
        --bs-gutter-y: 1.5rem;
    }
    .inter_head img {
        -o-object-fit: cover;
           object-fit: cover;
    }
    footer section{
        margin-top: 8rem;
    }
    .container-improper .col-12:nth-child(12){
        margin-top: 2.5rem;
    }
}

.container-improper .col-12:nth-child(4), .container-improper .col-12:nth-child(7), .container-improper .col-12:nth-child(10){
    margin-top: 2.5rem;
}
.video-container {
    margin-top: 0;
}
.inter_head img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
/*.concept span{
    display: block;
    margin-top: -.5rem;
}*/

/*for new improper*/
.inter_head h2{
    margin-bottom: .5rem;
    font-size: 1.7rem;
    color: #000;
    text-transform: uppercase;
}
.forGallery{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 3rem;
    text-align: center;
}
.forGallery span {
    position: relative;
    margin-bottom: 0;
    /*padding: .7rem .9rem .7rem .9rem;*/
    padding: 0;
    font-family: "Lato";
    /*font-family: "Segoe UI This";*/
    font-weight: bold;
    font-style: normal;
    font-size: .9rem;
    text-transform: uppercase;
    color: #0064ff;
    /*background-color: #f7f7f7;*/
    background-color: transparent;
}
/*.forGallery span {
    margin-bottom: 0;
    padding: .7rem 1.5rem .7rem .5rem;
    font-family: "Segoe UI This";
    font-weight: bold;
    font-style: normal;
    font-size: .9rem;
    color: #0064ff;
    background-color: #f7f7f7;
    position: relative;
}*/
.forGallery span::after {
    content: "";
    position: absolute;
    /*border-top: 10px solid #afceff;*/
    border-top: 10px solid #0064ff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    -webkit-transform: rotateZ(270deg);
        -ms-transform: rotate(270deg);
            transform: rotateZ(270deg);
    top: 4px;
    right: -17px;
}
/*end of for new improper*/